<a href="https://colab.research.google.com/github/angshumansinha/7-Days-of-Data-Analysis/blob/main/pyspark_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.3.0.tar.gz (281.3 MB)
     |████████████████████████████████| 281.3 MB 46 kB/s
Collecting py4j==0.10.9.5
  Downloading py4j-0.10.9.5-py2.py3-none-any.whl (199 kB)
     |████████████████████████████████| 199 kB 64.7 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.3.0-py2.py3-none-any.whl size=281764026 sha256=9ad13068aac811203783d4026726a9fb24edfa1bc05b48ffae597cc0c3987c97
  Stored in directory: /root/.cache/pip/wheels/7a/8e/1b/f73a52650d2e5f337708d9f6a1750d451a7349a867f928b885
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.5 pyspark-3.3.0

In [2]:
from pyspark.sql import SparkSession

In [3]:
#create spark Session
spark=SparkSession.builder.appName("Sample").getOrCreate()

In [4]:
spark

In [5]:
df_spark=spark.read.csv("/content/data.csv")

In [6]:
df_spark

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string, _c7: string, _c8: string, _c9: string, _c10: string, _c11: string, _c12: string, _c13: string]

In [7]:
df_spark.show()

+---+----+--------------+--------+-----+--------------+---------------+--------------------+----------------+------------+-----------+------------+------------+--------------+
|_c0| _c1|           _c2|     _c3|  _c4|           _c5|            _c6|                 _c7|             _c8|         _c9|       _c10|        _c11|        _c12|          _c13|
+---+----+--------------+--------+-----+--------------+---------------+--------------------+----------------+------------+-----------+------------+------------+--------------+
| id|year|institute_type|round_no|quota|          pool|institute_short|        program_name|program_duration|degree_short|   category|opening_rank|closing_rank|is_preparatory|
|  1|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|Aerospace Enginee...|         4 Years|      B.Tech|        GEN|         838|        1841|             0|
|  2|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|Aerospace Enginee...|         4 Years|      B.Tech|    OBC-NCL|         408|        1098|             0|
|  3|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|Aerospace Enginee...|         4 Years|      B.Tech|         SC|         297|         468|             0|
|  4|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|Aerospace Enginee...|         4 Years|      B.Tech|         ST|          79|         145|             0|
|  5|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|Aerospace Enginee...|         4 Years|      B.Tech|    GEN-PWD|          94|          94|             0|
|  6|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|Aerospace Enginee...|         4 Years|      B.Tech|OBC-NCL-PWD|          45|          45|             0|
|  7|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|Chemical Engineering|         4 Years|      B.Tech|        GEN|         422|        1479|             0|
|  8|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|Chemical Engineering|         4 Years|      B.Tech|    OBC-NCL|         447|         974|             0|
|  9|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|Chemical Engineering|         4 Years|      B.Tech|         SC|         257|         572|             0|
| 10|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|Chemical Engineering|         4 Years|      B.Tech|         ST|         161|         335|             0|
| 11|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|Chemical Engineering|         4 Years|      B.Tech|    GEN-PWD|          51|          75|             0|
| 12|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|Chemical Engineering|         4 Years|      B.Tech|OBC-NCL-PWD|          40|          40|             0|
| 13|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|Chemical Engineering|         4 Years|      B.Tech|     SC-PWD|           3|           3|             0|
| 14|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|           Chemistry|         4 Years|         BSc|        GEN|        3323|        4880|             0|
| 15|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|           Chemistry|         4 Years|         BSc|    OBC-NCL|        1753|        2596|             0|
| 16|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|           Chemistry|         4 Years|         BSc|         SC|         261|        1743|             0|
| 17|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|           Chemistry|         4 Years|         BSc|         ST|         661|         697|             0|
| 18|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|           Chemistry|         4 Years|         BSc|    GEN-PWD|          49|          49|             0|
| 19|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|   Civil Engineering|         4 Years|      B.Tech|        GEN|         897|        2251|             0|
+---+----+--------------+--------+-----+--------------+---------------+--------------------+----------------+------------+-----------+------------+------------+--------------+
only showing top 20 rows

In [8]:
df_spark=spark.read.option('header','true').csv("/content/data.csv")

In [9]:
df_spark

DataFrame[id: string, year: string, institute_type: string, round_no: string, quota: string, pool: string, institute_short: string, program_name: string, program_duration: string, degree_short: string, category: string, opening_rank: string, closing_rank: string, is_preparatory: string]

In [10]:
df_spark.show()

+---+----+--------------+--------+-----+--------------+---------------+--------------------+----------------+------------+-----------+------------+------------+--------------+
| id|year|institute_type|round_no|quota|          pool|institute_short|        program_name|program_duration|degree_short|   category|opening_rank|closing_rank|is_preparatory|
+---+----+--------------+--------+-----+--------------+---------------+--------------------+----------------+------------+-----------+------------+------------+--------------+
|  1|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|Aerospace Enginee...|         4 Years|      B.Tech|        GEN|         838|        1841|             0|
|  2|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|Aerospace Enginee...|         4 Years|      B.Tech|    OBC-NCL|         408|        1098|             0|
|  3|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|Aerospace Enginee...|         4 Years|      B.Tech|         SC|         297|         468|             0|
|  4|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|Aerospace Enginee...|         4 Years|      B.Tech|         ST|          79|         145|             0|
|  5|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|Aerospace Enginee...|         4 Years|      B.Tech|    GEN-PWD|          94|          94|             0|
|  6|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|Aerospace Enginee...|         4 Years|      B.Tech|OBC-NCL-PWD|          45|          45|             0|
|  7|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|Chemical Engineering|         4 Years|      B.Tech|        GEN|         422|        1479|             0|
|  8|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|Chemical Engineering|         4 Years|      B.Tech|    OBC-NCL|         447|         974|             0|
|  9|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|Chemical Engineering|         4 Years|      B.Tech|         SC|         257|         572|             0|
| 10|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|Chemical Engineering|         4 Years|      B.Tech|         ST|         161|         335|             0|
| 11|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|Chemical Engineering|         4 Years|      B.Tech|    GEN-PWD|          51|          75|             0|
| 12|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|Chemical Engineering|         4 Years|      B.Tech|OBC-NCL-PWD|          40|          40|             0|
| 13|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|Chemical Engineering|         4 Years|      B.Tech|     SC-PWD|           3|           3|             0|
| 14|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|           Chemistry|         4 Years|         BSc|        GEN|        3323|        4880|             0|
| 15|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|           Chemistry|         4 Years|         BSc|    OBC-NCL|        1753|        2596|             0|
| 16|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|           Chemistry|         4 Years|         BSc|         SC|         261|        1743|             0|
| 17|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|           Chemistry|         4 Years|         BSc|         ST|         661|         697|             0|
| 18|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|           Chemistry|         4 Years|         BSc|    GEN-PWD|          49|          49|             0|
| 19|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|   Civil Engineering|         4 Years|      B.Tech|        GEN|         897|        2251|             0|
| 20|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|   Civil Engineering|         4 Years|      B.Tech|    OBC-NCL|         356|        1007|             0|
+---+----+--------------+--------+-----+--------------+---------------+--------------------+----------------+------------+-----------+------------+------------+--------------+
only showing top 20 rows

In [11]:
type(df_spark)

pyspark.sql.dataframe.DataFrame

In [12]:
df_spark.head()

Row(id='1', year='2016', institute_type='IIT', round_no='6', quota='AI', pool='Gender-Neutral', institute_short='IIT-Bombay', program_name='Aerospace Engineering', program_duration='4 Years', degree_short='B.Tech', category='GEN', opening_rank='838', closing_rank='1841', is_preparatory='0')

In [13]:
df_spark.printSchema()

root
 |-- id: string (nullable = true)
 |-- year: string (nullable = true)
 |-- institute_type: string (nullable = true)
 |-- round_no: string (nullable = true)
 |-- quota: string (nullable = true)
 |-- pool: string (nullable = true)
 |-- institute_short: string (nullable = true)
 |-- program_name: string (nullable = true)
 |-- program_duration: string (nullable = true)
 |-- degree_short: string (nullable = true)
 |-- category: string (nullable = true)
 |-- opening_rank: string (nullable = true)
 |-- closing_rank: string (nullable = true)
 |-- is_preparatory: string (nullable = true)

In [14]:
#different options to read
"""
spark.read.option("header","true").csv('df.csv').show()
by default all data types are taken as string
"""
df_pyspark=spark.read.option('header','true').csv("/content/data.csv",inferSchema=True).show()

+---+----+--------------+--------+-----+--------------+---------------+--------------------+----------------+------------+-----------+------------+------------+--------------+
| id|year|institute_type|round_no|quota|          pool|institute_short|        program_name|program_duration|degree_short|   category|opening_rank|closing_rank|is_preparatory|
+---+----+--------------+--------+-----+--------------+---------------+--------------------+----------------+------------+-----------+------------+------------+--------------+
|  1|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|Aerospace Enginee...|         4 Years|      B.Tech|        GEN|         838|        1841|             0|
|  2|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|Aerospace Enginee...|         4 Years|      B.Tech|    OBC-NCL|         408|        1098|             0|
|  3|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|Aerospace Enginee...|         4 Years|      B.Tech|         SC|         297|         468|             0|
|  4|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|Aerospace Enginee...|         4 Years|      B.Tech|         ST|          79|         145|             0|
|  5|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|Aerospace Enginee...|         4 Years|      B.Tech|    GEN-PWD|          94|          94|             0|
|  6|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|Aerospace Enginee...|         4 Years|      B.Tech|OBC-NCL-PWD|          45|          45|             0|
|  7|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|Chemical Engineering|         4 Years|      B.Tech|        GEN|         422|        1479|             0|
|  8|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|Chemical Engineering|         4 Years|      B.Tech|    OBC-NCL|         447|         974|             0|
|  9|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|Chemical Engineering|         4 Years|      B.Tech|         SC|         257|         572|             0|
| 10|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|Chemical Engineering|         4 Years|      B.Tech|         ST|         161|         335|             0|
| 11|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|Chemical Engineering|         4 Years|      B.Tech|    GEN-PWD|          51|          75|             0|
| 12|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|Chemical Engineering|         4 Years|      B.Tech|OBC-NCL-PWD|          40|          40|             0|
| 13|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|Chemical Engineering|         4 Years|      B.Tech|     SC-PWD|           3|           3|             0|
| 14|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|           Chemistry|         4 Years|         BSc|        GEN|        3323|        4880|             0|
| 15|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|           Chemistry|         4 Years|         BSc|    OBC-NCL|        1753|        2596|             0|
| 16|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|           Chemistry|         4 Years|         BSc|         SC|         261|        1743|             0|
| 17|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|           Chemistry|         4 Years|         BSc|         ST|         661|         697|             0|
| 18|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|           Chemistry|         4 Years|         BSc|    GEN-PWD|          49|          49|             0|
| 19|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|   Civil Engineering|         4 Years|      B.Tech|        GEN|         897|        2251|             0|
| 20|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|   Civil Engineering|         4 Years|      B.Tech|    OBC-NCL|         356|        1007|             0|
+---+----+--------------+--------+-----+--------------+---------------+--------------------+----------------+------------+-----------+------------+------------+--------------+
only showing top 20 rows

In [15]:
df_spark.printSchema()

root
 |-- id: string (nullable = true)
 |-- year: string (nullable = true)
 |-- institute_type: string (nullable = true)
 |-- round_no: string (nullable = true)
 |-- quota: string (nullable = true)
 |-- pool: string (nullable = true)
 |-- institute_short: string (nullable = true)
 |-- program_name: string (nullable = true)
 |-- program_duration: string (nullable = true)
 |-- degree_short: string (nullable = true)
 |-- category: string (nullable = true)
 |-- opening_rank: string (nullable = true)
 |-- closing_rank: string (nullable = true)
 |-- is_preparatory: string (nullable = true)

In [16]:
#alternative way
df_spark=spark.read.csv("/content/data.csv",header=True,inferSchema=True)

In [17]:
df_spark.head()

Row(id=1, year=2016, institute_type='IIT', round_no=6, quota='AI', pool='Gender-Neutral', institute_short='IIT-Bombay', program_name='Aerospace Engineering', program_duration='4 Years', degree_short='B.Tech', category='GEN', opening_rank=838, closing_rank=1841, is_preparatory=0)

In [18]:
#selecting columns and indexing
df_spark.columns

['id',
 'year',
 'institute_type',
 'round_no',
 'quota',
 'pool',
 'institute_short',
 'program_name',
 'program_duration',
 'degree_short',
 'category',
 'opening_rank',
 'closing_rank',
 'is_preparatory']

In [19]:
#select a particular column
df_spark.select(['institute_type','degree_short']).show()

+--------------+------------+
|institute_type|degree_short|
+--------------+------------+
|           IIT|      B.Tech|
|           IIT|      B.Tech|
|           IIT|      B.Tech|
|           IIT|      B.Tech|
|           IIT|      B.Tech|
|           IIT|      B.Tech|
|           IIT|      B.Tech|
|           IIT|      B.Tech|
|           IIT|      B.Tech|
|           IIT|      B.Tech|
|           IIT|      B.Tech|
|           IIT|      B.Tech|
|           IIT|      B.Tech|
|           IIT|         BSc|
|           IIT|         BSc|
|           IIT|         BSc|
|           IIT|         BSc|
|           IIT|         BSc|
|           IIT|      B.Tech|
|           IIT|      B.Tech|
+--------------+------------+
only showing top 20 rows

In [20]:
#summarization in pyspark
df_spark.describe().show()

+-------+-----------------+------------------+--------------+------------------+-----+--------------+------------------+--------------------+----------------+------------+--------+------------------+------------------+-------------------+
|summary|               id|              year|institute_type|          round_no|quota|          pool|   institute_short|        program_name|program_duration|degree_short|category|      opening_rank|      closing_rank|     is_preparatory|
+-------+-----------------+------------------+--------------+------------------+-----+--------------+------------------+--------------------+----------------+------------+--------+------------------+------------------+-------------------+
|  count|            64958|             64958|         64958|             64958|64958|         64958|             64958|               64958|           64958|       64958|   64958|             64958|             64958|              64958|
|   mean|18171.17338895902|2020.4215800979093|          null|2.6093475784352966| null|          null|              null|                null|            null|        null|    null| 8259.641830105607|10704.971597031928|0.04763077680963084|
| stddev|9619.123659212122|  1.14976166727709|          null|2.4225579678576956| null|          null|              null|                null|            null|        null|    null|26794.475747713463| 37881.00984786956|0.21298540853862677|
|    min|                1|              2016|           IIT|                 1|   AI|   Female-Only|IIT-(BHU) Varanasi|Aerospace Enginee...|         4 Years|      B.Arch|     GEN|                 0|                 0|                  0|
|    max|            31140|              2021|           NIT|                 7|   OS|Gender-Neutral|      NIT-Warangal|  Textile Technology|         5 Years|    Int Msc.|  ST-PWD|           1082601|           1144790|                  1|
+-------+-----------------+------------------+--------------+------------------+-----+--------------+------------------+--------------------+----------------+------------+--------+------------------+------------------+-------------------+

In [21]:
#adding columns in dataframe
df_spark=df_spark.withColumn('seat_availability',df_spark['closing_rank']-df_spark['opening_rank'])

In [22]:
df_spark.show()

+---+----+--------------+--------+-----+--------------+---------------+--------------------+----------------+------------+-----------+------------+------------+--------------+-----------------+
| id|year|institute_type|round_no|quota|          pool|institute_short|        program_name|program_duration|degree_short|   category|opening_rank|closing_rank|is_preparatory|seat_availability|
+---+----+--------------+--------+-----+--------------+---------------+--------------------+----------------+------------+-----------+------------+------------+--------------+-----------------+
|  1|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|Aerospace Enginee...|         4 Years|      B.Tech|        GEN|         838|        1841|             0|             1003|
|  2|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|Aerospace Enginee...|         4 Years|      B.Tech|    OBC-NCL|         408|        1098|             0|              690|
|  3|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|Aerospace Enginee...|         4 Years|      B.Tech|         SC|         297|         468|             0|              171|
|  4|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|Aerospace Enginee...|         4 Years|      B.Tech|         ST|          79|         145|             0|               66|
|  5|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|Aerospace Enginee...|         4 Years|      B.Tech|    GEN-PWD|          94|          94|             0|                0|
|  6|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|Aerospace Enginee...|         4 Years|      B.Tech|OBC-NCL-PWD|          45|          45|             0|                0|
|  7|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|Chemical Engineering|         4 Years|      B.Tech|        GEN|         422|        1479|             0|             1057|
|  8|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|Chemical Engineering|         4 Years|      B.Tech|    OBC-NCL|         447|         974|             0|              527|
|  9|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|Chemical Engineering|         4 Years|      B.Tech|         SC|         257|         572|             0|              315|
| 10|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|Chemical Engineering|         4 Years|      B.Tech|         ST|         161|         335|             0|              174|
| 11|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|Chemical Engineering|         4 Years|      B.Tech|    GEN-PWD|          51|          75|             0|               24|
| 12|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|Chemical Engineering|         4 Years|      B.Tech|OBC-NCL-PWD|          40|          40|             0|                0|
| 13|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|Chemical Engineering|         4 Years|      B.Tech|     SC-PWD|           3|           3|             0|                0|
| 14|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|           Chemistry|         4 Years|         BSc|        GEN|        3323|        4880|             0|             1557|
| 15|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|           Chemistry|         4 Years|         BSc|    OBC-NCL|        1753|        2596|             0|              843|
| 16|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|           Chemistry|         4 Years|         BSc|         SC|         261|        1743|             0|             1482|
| 17|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|           Chemistry|         4 Years|         BSc|         ST|         661|         697|             0|               36|
| 18|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|           Chemistry|         4 Years|         BSc|    GEN-PWD|          49|          49|             0|                0|
| 19|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|   Civil Engineering|         4 Years|      B.Tech|        GEN|         897|        2251|             0|             1354|
| 20|2016|           IIT|       6|   AI|Gender-Neutral|     IIT-Bombay|   Civil Engineering|         4 Years|      B.Tech|    OBC-NCL|         356|        1007|             0|              651|
+---+----+--------------+--------+-----+--------------+---------------+--------------------+----------------+------------+-----------+------------+------------+--------------+-----------------+
only showing top 20 rows

In [23]:
#renaming a column
#Note: Do assign here inplace isn't there
df_spark=df_spark.withColumnRenamed("institute_short","institute")

In [24]:
df_spark.show()

+---+----+--------------+--------+-----+--------------+----------+--------------------+----------------+------------+-----------+------------+------------+--------------+-----------------+
| id|year|institute_type|round_no|quota|          pool| institute|        program_name|program_duration|degree_short|   category|opening_rank|closing_rank|is_preparatory|seat_availability|
+---+----+--------------+--------+-----+--------------+----------+--------------------+----------------+------------+-----------+------------+------------+--------------+-----------------+
|  1|2016|           IIT|       6|   AI|Gender-Neutral|IIT-Bombay|Aerospace Enginee...|         4 Years|      B.Tech|        GEN|         838|        1841|             0|             1003|
|  2|2016|           IIT|       6|   AI|Gender-Neutral|IIT-Bombay|Aerospace Enginee...|         4 Years|      B.Tech|    OBC-NCL|         408|        1098|             0|              690|
|  3|2016|           IIT|       6|   AI|Gender-Neutral|IIT-Bombay|Aerospace Enginee...|         4 Years|      B.Tech|         SC|         297|         468|             0|              171|
|  4|2016|           IIT|       6|   AI|Gender-Neutral|IIT-Bombay|Aerospace Enginee...|         4 Years|      B.Tech|         ST|          79|         145|             0|               66|
|  5|2016|           IIT|       6|   AI|Gender-Neutral|IIT-Bombay|Aerospace Enginee...|         4 Years|      B.Tech|    GEN-PWD|          94|          94|             0|                0|
|  6|2016|           IIT|       6|   AI|Gender-Neutral|IIT-Bombay|Aerospace Enginee...|         4 Years|      B.Tech|OBC-NCL-PWD|          45|          45|             0|                0|
|  7|2016|           IIT|       6|   AI|Gender-Neutral|IIT-Bombay|Chemical Engineering|         4 Years|      B.Tech|        GEN|         422|        1479|             0|             1057|
|  8|2016|           IIT|       6|   AI|Gender-Neutral|IIT-Bombay|Chemical Engineering|         4 Years|      B.Tech|    OBC-NCL|         447|         974|             0|              527|
|  9|2016|           IIT|       6|   AI|Gender-Neutral|IIT-Bombay|Chemical Engineering|         4 Years|      B.Tech|         SC|         257|         572|             0|              315|
| 10|2016|           IIT|       6|   AI|Gender-Neutral|IIT-Bombay|Chemical Engineering|         4 Years|      B.Tech|         ST|         161|         335|             0|              174|
| 11|2016|           IIT|       6|   AI|Gender-Neutral|IIT-Bombay|Chemical Engineering|         4 Years|      B.Tech|    GEN-PWD|          51|          75|             0|               24|
| 12|2016|           IIT|       6|   AI|Gender-Neutral|IIT-Bombay|Chemical Engineering|         4 Years|      B.Tech|OBC-NCL-PWD|          40|          40|             0|                0|
| 13|2016|           IIT|       6|   AI|Gender-Neutral|IIT-Bombay|Chemical Engineering|         4 Years|      B.Tech|     SC-PWD|           3|           3|             0|                0|
| 14|2016|           IIT|       6|   AI|Gender-Neutral|IIT-Bombay|           Chemistry|         4 Years|         BSc|        GEN|        3323|        4880|             0|             1557|
| 15|2016|           IIT|       6|   AI|Gender-Neutral|IIT-Bombay|           Chemistry|         4 Years|         BSc|    OBC-NCL|        1753|        2596|             0|              843|
| 16|2016|           IIT|       6|   AI|Gender-Neutral|IIT-Bombay|           Chemistry|         4 Years|         BSc|         SC|         261|        1743|             0|             1482|
| 17|2016|           IIT|       6|   AI|Gender-Neutral|IIT-Bombay|           Chemistry|         4 Years|         BSc|         ST|         661|         697|             0|               36|
| 18|2016|           IIT|       6|   AI|Gender-Neutral|IIT-Bombay|           Chemistry|         4 Years|         BSc|    GEN-PWD|          49|          49|             0|                0|
| 19|2016|           IIT|       6|   AI|Gender-Neutral|IIT-Bombay|   Civil Engineering|         4 Years|      B.Tech|        GEN|         897|        2251|             0|             1354|
| 20|2016|           IIT|       6|   AI|Gender-Neutral|IIT-Bombay|   Civil Engineering|         4 Years|      B.Tech|    OBC-NCL|         356|        1007|             0|              651|
+---+----+--------------+--------+-----+--------------+----------+--------------------+----------------+------------+-----------+------------+------------+--------------+-----------------+
only showing top 20 rows

In [25]:
#handling missing values and dropping columns
#drop
df_spark=df_spark.drop('id')

In [26]:
df_spark.show()

+----+--------------+--------+-----+--------------+----------+--------------------+----------------+------------+-----------+------------+------------+--------------+-----------------+
|year|institute_type|round_no|quota|          pool| institute|        program_name|program_duration|degree_short|   category|opening_rank|closing_rank|is_preparatory|seat_availability|
+----+--------------+--------+-----+--------------+----------+--------------------+----------------+------------+-----------+------------+------------+--------------+-----------------+
|2016|           IIT|       6|   AI|Gender-Neutral|IIT-Bombay|Aerospace Enginee...|         4 Years|      B.Tech|        GEN|         838|        1841|             0|             1003|
|2016|           IIT|       6|   AI|Gender-Neutral|IIT-Bombay|Aerospace Enginee...|         4 Years|      B.Tech|    OBC-NCL|         408|        1098|             0|              690|
|2016|           IIT|       6|   AI|Gender-Neutral|IIT-Bombay|Aerospace Enginee...|         4 Years|      B.Tech|         SC|         297|         468|             0|              171|
|2016|           IIT|       6|   AI|Gender-Neutral|IIT-Bombay|Aerospace Enginee...|         4 Years|      B.Tech|         ST|          79|         145|             0|               66|
|2016|           IIT|       6|   AI|Gender-Neutral|IIT-Bombay|Aerospace Enginee...|         4 Years|      B.Tech|    GEN-PWD|          94|          94|             0|                0|
|2016|           IIT|       6|   AI|Gender-Neutral|IIT-Bombay|Aerospace Enginee...|         4 Years|      B.Tech|OBC-NCL-PWD|          45|          45|             0|                0|
|2016|           IIT|       6|   AI|Gender-Neutral|IIT-Bombay|Chemical Engineering|         4 Years|      B.Tech|        GEN|         422|        1479|             0|             1057|
|2016|           IIT|       6|   AI|Gender-Neutral|IIT-Bombay|Chemical Engineering|         4 Years|      B.Tech|    OBC-NCL|         447|         974|             0|              527|
|2016|           IIT|       6|   AI|Gender-Neutral|IIT-Bombay|Chemical Engineering|         4 Years|      B.Tech|         SC|         257|         572|             0|              315|
|2016|           IIT|       6|   AI|Gender-Neutral|IIT-Bombay|Chemical Engineering|         4 Years|      B.Tech|         ST|         161|         335|             0|              174|
|2016|           IIT|       6|   AI|Gender-Neutral|IIT-Bombay|Chemical Engineering|         4 Years|      B.Tech|    GEN-PWD|          51|          75|             0|               24|
|2016|           IIT|       6|   AI|Gender-Neutral|IIT-Bombay|Chemical Engineering|         4 Years|      B.Tech|OBC-NCL-PWD|          40|          40|             0|                0|
|2016|           IIT|       6|   AI|Gender-Neutral|IIT-Bombay|Chemical Engineering|         4 Years|      B.Tech|     SC-PWD|           3|           3|             0|                0|
|2016|           IIT|       6|   AI|Gender-Neutral|IIT-Bombay|           Chemistry|         4 Years|         BSc|        GEN|        3323|        4880|             0|             1557|
|2016|           IIT|       6|   AI|Gender-Neutral|IIT-Bombay|           Chemistry|         4 Years|         BSc|    OBC-NCL|        1753|        2596|             0|              843|
|2016|           IIT|       6|   AI|Gender-Neutral|IIT-Bombay|           Chemistry|         4 Years|         BSc|         SC|         261|        1743|             0|             1482|
|2016|           IIT|       6|   AI|Gender-Neutral|IIT-Bombay|           Chemistry|         4 Years|         BSc|         ST|         661|         697|             0|               36|
|2016|           IIT|       6|   AI|Gender-Neutral|IIT-Bombay|           Chemistry|         4 Years|         BSc|    GEN-PWD|          49|          49|             0|                0|
|2016|           IIT|       6|   AI|Gender-Neutral|IIT-Bombay|   Civil Engineering|         4 Years|      B.Tech|        GEN|         897|        2251|             0|             1354|
|2016|           IIT|       6|   AI|Gender-Neutral|IIT-Bombay|   Civil Engineering|         4 Years|      B.Tech|    OBC-NCL|         356|        1007|             0|              651|
+----+--------------+--------+-----+--------------+----------+--------------------+----------------+------------+-----------+------------+------------+--------------+-----------------+
only showing top 20 rows

In [27]:
#syntax to drop nan values
df_spark.na.drop()

DataFrame[year: int, institute_type: string, round_no: int, quota: string, pool: string, institute: string, program_name: string, program_duration: string, degree_short: string, category: string, opening_rank: int, closing_rank: int, is_preparatory: int, seat_availability: int]

In [28]:
df_spark.na.drop(how="all")#if the record has all na values for each col

DataFrame[year: int, institute_type: string, round_no: int, quota: string, pool: string, institute: string, program_name: string, program_duration: string, degree_short: string, category: string, opening_rank: int, closing_rank: int, is_preparatory: int, seat_availability: int]

In [29]:
#understanding threshold in dropping columns
df_spark.na.drop(thresh=2) #atleast two non null values should be present for it to be dropped

DataFrame[year: int, institute_type: string, round_no: int, quota: string, pool: string, institute: string, program_name: string, program_duration: string, degree_short: string, category: string, opening_rank: int, closing_rank: int, is_preparatory: int, seat_availability: int]

In [31]:
df_spark.na.drop(how='any',subset=['institute'])

DataFrame[year: int, institute_type: string, round_no: int, quota: string, pool: string, institute: string, program_name: string, program_duration: string, degree_short: string, category: string, opening_rank: int, closing_rank: int, is_preparatory: int, seat_availability: int]

In [32]:
#filling missing value
df_pyspark.na.fill("Missing Values",['institute','opening_rank'])

AttributeError: ignored